<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Limpieza">
		<setting id="notify_mode" type="bool" label="Mostrar Estado al Inicio de Kodi" default="false" />
		<setting id="startup.cache" type="bool" label="Limpiar Caché al Inicio de Kodi" default="false" />
		<setting type="lsep" label="Paquetes: Tope Máximo Antes de Auto-Limpiar" />
		<setting id="filesize_alert" type="slider" label="Máx. Total Tamaño de Ficheros (MB)" default="1" range="1,500" option="int" />
		<setting id="packagenumbers_alert" type="slider" label="Máx. Número de Ficheros Zip" default="1" range="1,200" option="int" />
		<setting type="lsep" label="Imágenes: Tope Máximo Antes de Auto-Limpiar" />
		<setting id="filesizethumb_alert" type="slider" label="Máx. Total Tamaño de Ficheros (MB)" default="1" range="1,2000" option="int" />
	</category>
</settings>